In [2]:
import os
os.getcwd()

'C:\\Users\\user\\Desktop\\Articles\\Untitled Folder'

In [11]:
import pandas as pd
import numpy as np

In [7]:
ishares=pd.read_csv("IJR.csv", index_col=0, header=0, parse_dates=True)
ishares.head()

                 Open       High        Low      Close  Adj Close   Volume
Date
2000-06-01  16.703125  17.760418  16.703125  17.552082  13.613434  7002600
2000-07-01  17.604168  18.442707  16.677082  17.057293  13.235090  2937000
2000-08-01  17.109375  18.690104  16.812500  18.645832  14.467663  1231200
2000-09-01  18.729168  18.796875  17.562500  18.106771  14.049398  3868800
2000-10-01  18.174479  18.203125  16.359375  18.203125  14.135219  3330600

In [8]:
ishares=ishares["Adj Close"]
ishares.head()

Date
2000-06-01    13.613434
2000-07-01    13.235090
2000-08-01    14.467663
2000-09-01    14.049398
2000-10-01    14.135219
Name: Adj Close, dtype: float64

In [23]:
ishares=ishares.to_frame()
ishares.head()

            Adj Close
Date
2000-06-01  13.613434
2000-07-01  13.235090
2000-08-01  14.467663
2000-09-01  14.049398
2000-10-01  14.135219

In [24]:
ret_ishares=ishares.pct_change()
ret_ishares

            Adj Close
Date
2000-06-01        NaN
2000-07-01  -0.027792
2000-08-01   0.093129
2000-09-01  -0.028910
2000-10-01   0.006109
...               ...
2021-11-01  -0.024323
2021-12-01   0.038075
2022-01-01  -0.066078
2022-02-01   0.001318
2022-02-14  -0.002068

[262 rows x 1 columns]

# ..........................................................................................................................

In [21]:
dfa=pd.read_csv("DFSTX.csv", index_col=0, header=0, parse_dates=True)
dfa.head()

            Open  High   Low  Close  Adj Close  Volume
Date
1992-04-01  9.30  9.60  9.14   9.30   2.332475       0
1992-05-01  9.30  9.42  9.20   9.28   2.327460       0
1992-06-01  9.32  9.37  8.56   8.83   2.214598       0
1992-07-01  8.66  9.22  8.59   9.22   2.312412       0
1992-08-01  9.09  9.09  8.74   9.03   2.264758       0

In [25]:
dfa=dfa["Adj Close"]
dfa.head()

Date
1992-04-01    2.332475
1992-05-01    2.327460
1992-06-01    2.214598
1992-07-01    2.312412
1992-08-01    2.264758
Name: Adj Close, dtype: float64

In [26]:
dfa=dfa.to_frame()
dfa.head()

            Adj Close
Date
1992-04-01   2.332475
1992-05-01   2.327460
1992-06-01   2.214598
1992-07-01   2.312412
1992-08-01   2.264758

In [27]:
ret_dfa=dfa.pct_change()
ret_dfa.head()

            Adj Close
Date
1992-04-01        NaN
1992-05-01  -0.002150
1992-06-01  -0.048491
1992-07-01   0.044168
1992-08-01  -0.020608

# ..........................................................................................................................

In [28]:
bridge=pd.read_csv("BRSIX.csv", index_col=0, header=0, parse_dates=True)
bridge.head()

            Open  High   Low  Close  Adj Close  Volume
Date
1997-08-01  5.02  5.23  5.02   5.22   1.210233       0
1997-09-01  5.29  5.64  5.29   5.64   1.307609       0
1997-10-01  5.65  5.81  5.22   5.46   1.265877       0
1997-11-01  5.53  5.65  5.25   5.31   1.231100       0
1997-12-01  5.33  5.33  4.84   4.98   1.154591       0

In [29]:
bridge=bridge["Adj Close"]
bridge.head()

Date
1997-08-01    1.210233
1997-09-01    1.307609
1997-10-01    1.265877
1997-11-01    1.231100
1997-12-01    1.154591
Name: Adj Close, dtype: float64

In [30]:
bridge=bridge.to_frame()
bridge.head()

            Adj Close
Date
1997-08-01   1.210233
1997-09-01   1.307609
1997-10-01   1.265877
1997-11-01   1.231100
1997-12-01   1.154591

In [31]:
ret_bridge=bridge.pct_change()
ret_bridge.head()

            Adj Close
Date
1997-08-01        NaN
1997-09-01   0.080461
1997-10-01  -0.031915
1997-11-01  -0.027473
1997-12-01  -0.062147

# ..........................................................................................................................